.tableWrapper {
  overflow: auto;
  max-width: 100%;
  max-height: 70dvh;
  min-height: 70dvh;
}

.searchBar {
  width: 35%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

table {
  width: 100%;
  table-layout: fixed;

  input {
    height: 30px;
    max-width: 90%;
    padding: 0px 10px;
    width: -webkit-fill-available;
  }

  img {
    height: 30px;
    border: 1px solid #ccc;
  }

  th,
  td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  th {
    text-align: left;
  }

  thead {
    tr {
      position: sticky;
      top: 0;
    }
    th {
      background-color: #ec7e18;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  select {
    height: 30px;
    max-width: 90%;
    padding: 0px 10px;
    width: -webkit-fill-available;
  }
}

.searchBarWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
