.tableWrapper {
  overflow-y: hidden;
  max-width: 100%;
  max-height: 70dvh;
  min-height: 70dvh;
}

.searchBar {
  width: 34%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

table {
  width: 100%;
  table-layout: fixed;

  input,
  select {
    height: 30px;
    max-width: 90%;
    padding: 0px 10px;
    width: 60%;
  }
  // select {
  //   height: 33px;
  //   max-width: 90%;
  //   padding: 0px 10px;
  //   width: 60%;
  // }

  input[type='checkbox' i] {
    height: 20px;
    width: 20px;
  }

  img {
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: middle;
  }

  th,
  td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  th img {
    width: 20px;
    height: auto;
    border: none;
    vertical-align: text-bottom;
    margin-right: 10px;
    filter: grayscale(1);
  }

  td.groupedCell {
    background-color: #0aff0082;
    color: #fff;
    font-weight: bold;
  }

  td.aggregatedCell {
    background-color: #1e1e1e;
    text-align: left;
  }

  tr:has(.aggregatedCell):hover {
    background-color: #302f2f;
  }

  td.aggregatedCell:hover {
    background-color: #302f2f;
  }

  th {
    text-align: left;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 2;

    tr {
      display: block;
    }

    th {
      background-color: #ec7e18;
      text-align: center;
      cursor: pointer;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

span.groupedCell {
  display: 'flex';
}
