#root {
  max-width: 90%;
  min-width: 90%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 5rem;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.page-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.page-header h1 {
  font-size: 2rem;
  font-weight: normal;
}
